<section class="section">
  <h2 class="section__title">Skills</h2>
  {{#each skills}}
  <div class="skills-group">
    <div class="skills-group__name">{{this.name}}</div>
    <div class="skills-group__keywords">
      {{#each this.keywords}}
      <span class="skill-tag">{{this}}</span>
      {{/each}}
    </div>
  </div>
  {{/each}}
</section>
